.all{
	min-height:400 px;
	height: auto;
}   

.top{
	background-color: red;
	height: 100px;	
	position: fixed;
        top:0;
	width: 100%;
}
.link2{
	background-color: blue;
	height: 25px;	
	width: 50px;
	margin-left: 100px;
}
.link2_2{
	background-color: pink;
	height: 25px;	
	width: 50px;
	margin-left: 500px;
}
.link3{
	background-color: green;
	height: 25px;	
	width: 50px;	
	margin-top: -25px;
	margin-left: 700px;
}
.center{
	background-color: blue;
	height: 300px;	
	margin-top: 100px;
}

.center_two{
	background-color: pink;
	height: 300px;	
}

.bottom{
	background-color: green;
	height: 300px;
}
.scrollup{
	background-color: black;
	color:white;
	height: 25px;	
	width: 50px;
	margin-top: -25px;
	margin-left: 800px;
	cursor: pointer;
}